@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&display=swap');

/******************************************
/* BASE STYLES
/*******************************************/

body {
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
text-align: center;
background: rgb(29, 29, 29);
color:white;
font-family: 'Inconsolata', monospace;
}
h1{
     font-size: 3rem;
     font-weight: 600;
}

.time{
     display: flex;
}
form{
     display: flex;
}

.itime{
     font-size: 20px;
     width: 70px;
     margin: 5px;
     text-align: center;
}

button{
     margin: 5px;
     padding: 5px 10px;
}

.hide-reset{
     display: none;
}
.p-hidden{
     display: none;
}
.s-hidden{
     display: none;
}

.second-field{
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.msg{
     margin: 5px;
     padding: 5px 10px;
}